# === Build & Compiled files ===
target/
out/
*.class
*.jar
*.war
*.ear

# === IDEs (IntelliJ, VS Code, Eclipse) ===
.idea/
.vscode/
*.iml
*.classpath
*.project
*.ipr
*.iws

# === Logs & Temporary ===
*.log
*.tmp
*.swp
*.bak

# === System files ===
.DS_Store
Thumbs.db
